# Lico

# Lico Provisioning Credentials
packages/lico-devc/habitat-credentials.json

## Dependencies
.venv/
node_modules/

## Python
__pycache__/
*.py[cod]
*$py.class

## Temporary files
.temp/*
.trash/*

## Project Base
.runtimes/*
.repos/*

## Git
!.gitkeep

## Identifiers workspace.
.agent/.internal/workspace/agate/
.agent/.internal/workspace/alexandrite/
.agent/.internal/workspace/iuria/
.agent/.internal/workspace/polaris/
.agent/.internal/workspace/sirius/
