severity=info
external-sources=true
shell=bash
enable=add-default-case
enable=avoid-nullary-conditions
enable=check-unassigned-uppercase
enable=quote-safe-variables
enable=check-set-e-suppressed
enable=check-after-error
enable=require-variable-braces
enable=require-double-quotes
